/* SignUp.module.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0e0e0; /* Você pode ajustar essa cor conforme necessário */
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px; /* Aumenta a largura do formulário */
    padding: 30px; /* Aumenta o padding do formulário */
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formGroup {
    margin-bottom: 15px;
}

.formGroup label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.formGroup input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.salvar {
    background-color: #28a745;
    color: white;
}

.cancelar {
    background-color: #dc3545;
    color: white;
}
