body {
    font-family: Arial, sans-serif;
}

a {
    color: inherit; /* Herda a cor do elemento pai */
    text-decoration: none; /* Remove o sublinhado */
}

.content {
    width: 100%;
    padding: 50px; /* Adiciona padding lateral de 20px */
}

.about_us {
    font-size: 16;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_content p {
    margin: 0;
}

.for_rent {
    font-size: 20px; /* Define o tamanho da fonte para 20px */
}

.profile_add button {
    margin-right: 20px; 
    font-size: 16px;
    border: none;
    background: none;/* Adiciona espaçamento entre os botões */
}

.add_car {
    color: #28BE2E;
    background: none;
}

.add_car a{
    font-size: 22px;
}
